.countainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    border: 3px solid darkgray;
    width: auto;
   height: 5rem;}
   .sec1{
    background-color: rgb(105, 100, 100);
    width: 150px;
    height: 150px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.im{
    width: 50px;
    height: 50px;
    border-radius: 10%;}
    .coun{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
    }
    table{
        width: 70%;
        border-collapse: separate;
        position: relative;
        left: 14em;
    }
    table,td{
        border: solid black 2px;
    }
    @media (max-width:360px){
        header{ color:blue}
    }
    @media (max-width:360px){
        section{
            display: inline-block;
        }